<%= render "layouts/navbar" %>
<h1 class="text-center">Editing profile</h1>

<%= render "form", profile: @profile %>

<hr>

<div class="d-flex justify-content-center">
  <%= link_to "Show this profile", @profile, class: "btn btn-primary" %> |
  <%= link_to "Back to profiles", profiles_path, class: "btn btn-primary" %>
</div>
