<%= render "layouts/navbar" %>
<h1 class="text-center">New article</h1>

<%= render "form", article: @article %>

<hr>

<div class="text-center">
  <%= link_to "Back to articles", articles_path, class: "btn btn-primary" %>
</div>
